# Import Libraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [15]:
data = pd.read_csv('./structure/data.csv')
data.columns=['material_id','composition','tc']
data

     material_id composition        tc
0              0       Ag1B2  6.700000
1              1      Ag1La1  1.073333
2              2    Ag1Mo6S8  7.700000
3              3   Ag1Sn1Se2  4.655000
4              4       Ag2F1  0.066000
..           ...         ...       ...
815          815   Zr1Ru1As1  8.716667
816          816   Zr1Ru1Ge1  9.000000
817          817   Zr1Ru1Si1  9.733333
818          818    Zr1V1Ge1  6.000000
819          819   Zr2Ru3Si4  5.700000

[820 rows x 3 columns]

In [20]:
train,test_val = train_test_split(data,train_size = 0.6)
val,test = train_test_split(test_val,test_size=0.5)
train.to_csv('./roost/data1/train.csv',index=None)
val.to_csv('./roost/data1/val.csv',index=None)
test.to_csv('./roost/data1/test.csv',index=None)

In [9]:
id = data.drop(columns=['composition'])

In [10]:
id

     material_id    target
0              0  6.700000
1              1  1.073333
2              2  7.700000
3              3  4.655000
4              4  0.066000
..           ...       ...
815          815  8.716667
816          816  9.000000
817          817  9.733333
818          818  6.000000
819          819  5.700000

[820 rows x 2 columns]

In [13]:
id.to_csv('./structure/id_prop.csv',header=None,index=None)

In [22]:
origin = pd.read_csv('new_data_merge.csv')
origin

,material,number_of_elements,mean_atomic_mass,wtd_mean_atomic_mass,gmean_atomic_mass,wtd_gmean_atomic_mass,entropy_atomic_mass,wtd_entropy_atomic_mass,range_atomic_mass,wtd_range_atomic_mass,...,Pt,Au,Hg,Tl,Pb,Bi,Po,At,Rn,critical_temp
0,Ag0.002Al0.998,2.0,67.424869,27.143312,53.948587,27.056422,0.500522,0.046344,80.886661,26.711839,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,1.128
1,Ag0.005Zn0.995,2.0,86.624100,65.592441,83.978705,65.543882,0.662766,0.047664,42.488200,64.513759,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.763
2,Ag0.035Cd0.01Sn0.955,3.0,112.996400,118.267547,112.909335,118.248253,1.097840,0.194766,10.841800,112.243940,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,3.650
3,Ag0.03Tl0.97,2.0,156.125750,201.487847,148.480499,200.502064,0.644586,0.082284,96.515100,195.015755,...,0.0,0.0,0.0,0.97,0.0,0.0,0.0,0.0,0.0,2.670
4,Ag0.05Rh0.04Ti0.91,3.0,86.213567,53.068600,80.994602,51.401426,1.043637,0.592758,60.001200,39.442750,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,1.950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15537,Zr55Cu30Al10Ni5,4.0,60.111235,74.869824,55.044423,70.879821,1.309070,0.863280,64.242461,47.475046,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,2.700
15538,Zr62.4Ti15.6Ni22,3.0,65.928133,77.303576,63.520152,74.865783,1.060800,0.750034,43.357000,49.456524,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,3.215
15539,Zr66.3Ti11.7Ni22,3.0,65.928133,78.994499,63.520152,76.772594,1.060800,0.688145,43.357000,54.881073,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,3.560
15540,Zr70.2Ti7.8Ni22,3.0,65.928133,80.685422,63.520152,78.727971,1.060800,0.618842,43.357000,60.305622,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,3.320
15541,Zr74.1Ti3.9Ni22,3.0,65.928133,82.376345,63.520152,80.733151,1.060800,0.538556,43.357000,65.730171,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,3.650

In [26]:
data.columns=['material_id','material','tc']

new = pd.merge(data['material'],origin,on=['material'],how='inner')
new.to_csv('reduced_dataset.csv',index=None)